<%- include('../partials/header') %>

<h1>All Walks</h1>

<a href='walks/new'>New Walk</a>

<% walkDoc.forEach(function(w) { %>
    <ul class="indexwalklog">
      <li><%= w.caption %></li>
      <li><%= w.date %></li>
      <li><%= w.distanceTraveled %></li>
      <button><a href='/walks/<%= w._id %>' class="detailsbtn">DETAILS</a></button>
    </ul>
    <% }); %>




<%- include('../partials/footer') %>