<%- include('../partials/header') %>

<h1>All Walks</h1>

<a href='walks/new'>New Walk</a>

<% walkDoc.forEach(function(w) { %>
    <section class="item">
    <ul class="indexwalklog">
      <li class="walklogitem"><strong>USER: </strong><%= user.name %></li>
      <li class="walklogitem">DESCRIPTION: <%= w.caption %></li>
      <li class="walklogitem">DATE: <%= w.date %></li>
      <li class="walklogitem">DISTANCE TRAVELED: <%= w.distanceTraveled %></li>
      
    </ul>
    <a href='/walks/<%= w._id %>' class="detailsbtn">DETAILS</a>
    </section>
    <% }); %>




<%- include('../partials/footer') %>