<%- include('../partials/header') %>

    <ul class="indexwalklog">
    
    <li class="showlabel">Descripton: <%= walk.caption %></li>
    <li class="showlabel">Date: <%= walk.date %></li>
    <li class="showlabel">Distance Traveled: <%= walk.distanceTraveled %></li>
     
        </ul>

        <a href='/walks/<%= walk._id %>/edit' class="detailsbtn">EDIT</a>

      <% if (user) { %>
        <form action="/walks/<%= walk._id %>?_method=DELETE" method="POST">
          <button class='deletebtn' type="Submit" style="cursor:pointer">DELETE </button>
        </form>
      <% } %>

      

        <form method="POST" action="/walks/<%= walk._id %>/comments">
            <label>Comment</label>
            <textarea name="content"></textarea>
        
            <input type="submit" value="Add Comment">
        
        </form>

        <% walk.comments.forEach(function(c) { %>
            <ul class="indexwalklog">
              <li><%= c.content %></li>
              
            </ul>
            <% }); %>


<%- include('../partials/footer') %>