<%- include('../partials/header') %>

    <ul class="indexwalklog">
    
    <li>Descripton: <%= walk.caption %></li>
    <li>Date: <%= walk.date %></li>
      <li>Distance Traveled: <%= walk.distanceTraveled %></li>
     
        </ul>


      <% if (user) { %>
        <form action="/walks/<%= walk._id %>?_method=DELETE" method="POST">
          <button type="Submit">X</button>
        </form>
      <% } %>

        <form method="POST" action="/walks/<%= walk._id %>/comments">
            <label>Comment</label>
            <textarea name="content"></textarea>
        
            <input type="submit" value="Add Comment">
        
        </form>

        <% walk.comments.forEach(function(c) { %>
            <ul class="indexwalklog">
              <li><%= c.content %></li>
              
            </ul>
            <% }); %>


<%- include('../partials/footer') %>