<%- include('../partials/header') %>

    <ul class="indexwalklog">
        <li><%= user.name %></li>
    <li><%= walk.caption %></li>
    <li><%= walk.date %></li>
      <li><%= walk.distanceTraveled %></li>
      <li><%= walk._id %></li>
        </ul>


      <% if (user) { %>
        <form action="/walks/<%= walk._id %>?_method=DELETE" method="POST">
          <button type="Submit">X</button>
        </form>
      <% } %>



<%- include('../partials/footer') %>